/* Full background violet */
body {
    background-color: rgb(18, 18, 95);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Center box */
.container {
    background-color: rgb(251, 214, 219);
    width: 400px;         
    margin: 80px auto;    
    padding: 90px;
    border-radius: 20px;
    border: 10px solid rgb(76, 67, 120);
    
    
}


.head {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(45, 42, 129);
    font-family:'Times New Roman', Times, serif;
}

.head img {
    height: 30px;
    width: 40px;
}


.input-box {
    display: flex;
    
    margin-top: 20px;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 0px;
    margin: 0%;
    
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-weight: 100px;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

ul li.checked{
    color:#000000;
    text-decoration: line-through;
     
}

ul li.checked::before {
    background-image: url(check-mark.png);
}
ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #090505;
    line-height: 40px;
    text-align: centre;
    border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;
}